# 4.6 Merging Data

## Contents:
### Set import variable
### Import order_products_prior
### Import orders_checked
### Merge order_produts_prior with orders_checked
### Import products_checked
### Merge products_checked with ords_products_combined
### Export orders_products_combined_final.pkl
# -----------------------------------

### Set import variable and path

In [9]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [10]:
# Set path for use in import
path = r'C:\Users\XLT2\CFProjects\2023-04-07 Instacart Basket Analysis\02 Data'

### Import order_products_prior

In [11]:
# Import order_products_prior.csv
df_ords_prior = pd.read_csv(os.path.join(path, 'Original Data', 'order_products_prior.csv'), index_col = False)

In [12]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [13]:
# View dimensions of df_ords_prior
df_ords_prior.shape

(32434489, 4)

### Import orders_checked

In [14]:
# Import orders_checked.csv as df_ords
df_ords = pd.read_csv(os.path.join(path, 'Prepared Data', 'orders_checked.csv'), index_col = False)

In [15]:
# View header of df_ords
df_ords.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order
0,0,0,2539329,1,prior,1,2,8,0.0
1,1,1,2398795,1,prior,2,3,7,15.0
2,2,2,473747,1,prior,3,3,12,21.0
3,3,3,2254736,1,prior,4,4,7,29.0
4,4,4,431534,1,prior,5,4,15,28.0

In [16]:
# View shape of df_ords
df_ords.shape

(3421083, 9)

### Step 1 - Merge orders with orders_products_prior on 'order_id'

In [17]:
# Merge df_ords with df_ords_prior
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [18]:
# View header of df_merged_large after merge
df_merged_large.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,prior,1,2,8,0.0,196,1,0,both
1,0,0,2539329,1,prior,1,2,8,0.0,14084,2,0,both
2,0,0,2539329,1,prior,1,2,8,0.0,12427,3,0,both
3,0,0,2539329,1,prior,1,2,8,0.0,26088,4,0,both
4,0,0,2539329,1,prior,1,2,8,0.0,26405,5,0,both

In [19]:
df_merged_large.shape

(32434489, 13)

In [20]:
# Confirm for full match
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

### Step 2 - Write df_merged_large to pkl file as orders_products_combined.pkl

In [29]:
# Export df_merged_large as orders_products_combined.pkl
df_merged_large.to_pickle(os.path.join(path, 'Prepared Data', 'orders_products_combined.pkl'))

### Step 3 - Import orders_products_combined

In [30]:
# Import orders_products_combined.pkl
df_ords_products_combined = pd.read_pickle(os.path.join(path, 'Prepared Data', 'orders_products_combined.pkl'))

### Step 4 - Confirm orders_products_combined import

In [57]:
# Drop _merge column before merge
df_ords_products_combined = df_ords_products_combined.drop(columns = ['_merge'])

In [58]:
# Check header of orders_products_combined
df_ords_products_combined.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,0,0,2539329,1,prior,1,2,8,0.0,196,1,0
1,0,0,2539329,1,prior,1,2,8,0.0,14084,2,0
2,0,0,2539329,1,prior,1,2,8,0.0,12427,3,0
3,0,0,2539329,1,prior,1,2,8,0.0,26088,4,0
4,0,0,2539329,1,prior,1,2,8,0.0,26405,5,0

In [59]:
# Check shape of df_ords_products_combined
df_ords_products_combined.shape

(32434489, 12)

### Import products_checked

In [60]:
# Import products_checked.csv
df_prods_checked = pd.read_csv(os.path.join(path, 'Prepared Data', 'products_checked.csv'), index_col = False)

In [61]:
# Confirm import
df_prods_checked.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [62]:
# Confirm df shape
df_prods_checked.shape

(49672, 6)

### Step 5 - Merge prods_checked with ords_products_combined (merge on product_id)

In [63]:
# Merge df_prods_checked with df_ords_products_combined ON product_id
df_orders_products_merged = df_prods_checked.merge(df_ords_products_combined, on = 'product_id', indicator = True)

In [64]:
df_orders_products_merged.head()

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0.1,Unnamed: 0_y,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,1987,3139998,138,prior,28,6,11,3.0,5,0,both
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1989,1977647,138,prior,30,6,17,20.0,1,1,both
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,11433,389851,709,prior,2,0,21,6.0,20,0,both
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,12198,652770,764,prior,1,3,13,0.0,10,0,both
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,12200,1813452,764,prior,3,4,17,9.0,11,1,both

In [65]:
df_orders_products_merged.shape

(32404859, 18)

### Step 6 - Confirm full match merge

In [66]:
# Confirm for full match
df_orders_products_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

### Export orders_products_merged

In [67]:
# Export df_orders_products_merged as orders_products_combined_final.pkl
df_orders_products_merged.to_pickle(os.path.join(path, 'Prepared Data', 'orders_products_combined_final.pkl'))

### Confirm good export

In [68]:
# Import orders_products_combined_final.pkl
df_orders_products_combined_final_temp = pd.read_pickle(os.path.join(path, 'Prepared Data', 'orders_products_combined_final.pkl'))

In [69]:
# Confirm good write to pickle file
df_orders_products_combined_final_temp.head()

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0.1,Unnamed: 0_y,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,1987,3139998,138,prior,28,6,11,3.0,5,0,both
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1989,1977647,138,prior,30,6,17,20.0,1,1,both
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,11433,389851,709,prior,2,0,21,6.0,20,0,both
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,12198,652770,764,prior,1,3,13,0.0,10,0,both
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,12200,1813452,764,prior,3,4,17,9.0,11,1,both

In [70]:
df_orders_products_combined_final_temp.shape

(32404859, 18)